<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958733498686-sm63bn81svsmshlbvq8m7g4jqkf0oige.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958733498686-sm63bn81svsmshlbvq8m7g4jqkf0oige</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>958733498686-js4kaihn2taahamk1ef16neb8f9lbtud.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAOsQ8w_4VQuKXxcM1hPL-ESBbtF3Ea0P4</string>
	<key>GCM_SENDER_ID</key>
	<string>958733498686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eLeaningapp</string>
	<key>PROJECT_ID</key>
	<string>elearning-app-a6e15</string>
	<key>STORAGE_BUCKET</key>
	<string>elearning-app-a6e15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958733498686:ios:2b04893acc6ed76ef0d46f</string>
</dict>
</plist>